{
    "swagger": "2.0",
    "info": {
        "version": "V1",
        "title": "Klantenvertellen API"
    },
    "host": "www.kiyoh.com",
    "basePath": "/",
    "tags": [
        {
            "name": "api-user-endpoint",
            "description": "Endpoint to manage Api Users."
        },
        {
            "name": "async-operation-endpoint",
            "description": "Endpoint for asynchronous calls."
        },
        {
            "name": "black-list-domain-endpoint",
            "description": "Endpoint to manage blacklist domains."
        },
        {
            "name": "black-list-email-address-endpoint",
            "description": "Endpoint to manage blacklist email address."
        },
        {
            "name": "black-list-ip-address-endpoint",
            "description": "Endpoint to manage white list ip address."
        },
        {
            "name": "branch-code-endpoint",
            "description": "Endpoint to manage branch code."
        },
        {
            "name": "branded-group-endpoint",
            "description": "Endpoint to manage branded groups."
        },
        {
            "name": "branded-group-setting-endpoint",
            "description": "Endpoint to manage settings."
        },
        {
            "name": "category-endpoint",
            "description": "Endpoint to manage Categories."
        },
        {
            "name": "category-translation-endpoint",
            "description": "Endpoint to manage translations."
        },
        {
            "name": "common-endpoint",
            "description": "Endpoint for common user operations (logout, status, etc)."
        },
        {
            "name": "content-migration-endpoint",
            "description": "Content Migration Endpoint"
        },
        {
            "name": "crm-endpoint",
            "description": "Crm Endpoint"
        },
        {
            "name": "google-feed-endpoint",
            "description": "Endpoint to manage Google Feed."
        },
        {
            "name": "group-location-publication-endpoint",
            "description": "Group Location Publication Endpoint"
        },
        {
            "name": "group-setting-endpoint",
            "description": "Endpoint to manage settings."
        },
        {
            "name": "invitation-endpoint",
            "description": "Endpoint to manage the invites for SME."
        },
        {
            "name": "invite-external-endpoint",
            "description": "Invite External Endpoint"
        },
        {
            "name": "locale-endpoint",
            "description": "Endpoint to manage locales."
        },
        {
            "name": "location-ai-endpoint",
            "description": "Location AI Endpoint"
        },
        {
            "name": "location-attribute-endpoint",
            "description": "Location Attribute Endpoint"
        },
        {
            "name": "location-configuration-endpoint",
            "description": "Endpoint to manage locations configurations."
        },
        {
            "name": "location-endpoint",
            "description": "Location Endpoint"
        },
        {
            "name": "location-group-configuration-endpoint",
            "description": "Endpoint to manage location group's configurations."
        },
        {
            "name": "location-group-endpoint",
            "description": "Location Group Endpoint"
        },
        {
            "name": "location-product-cluster-endpoint",
            "description": "Location Product Cluster Endpoint"
        },
        {
            "name": "location-product-cluster-external-endpoint",
            "description": "Location Product Cluster External Endpoint"
        },
        {
            "name": "location-product-endpoint",
            "description": "Location Product Endpoint"
        },
        {
            "name": "location-product-external-endpoint",
            "description": "Location Product External Endpoint"
        },
        {
            "name": "location-product-publication-endpoint",
            "description": "Location Product Publication Endpoint"
        },
        {
            "name": "location-product-question-endpoint",
            "description": "Location Product Question Endpoint"
        },
        {
            "name": "location-question-endpoint",
            "description": "Location Question Endpoint"
        },
        {
            "name": "location-reflection-endpoint",
            "description": "Location Reflection Endpoint"
        },
        {
            "name": "location-stats-update-endpoint",
            "description": "Endpoint to manage locations stats update."
        },
        {
            "name": "message-resource-endpoint",
            "description": "Endpoint to manage Messages."
        },
        {
            "name": "offline-publication-endpoint",
            "description": "Endpoint to download offline publishing material."
        },
        {
            "name": "optout-email-address-endpoint",
            "description": "Endpoint to manage white list ip address."
        },
        {
            "name": "product-endpoint",
            "description": "Product Endpoint"
        },
        {
            "name": "product-review-endpoint",
            "description": "Product Review Endpoint"
        },
        {
            "name": "product-review-migration-end-point",
            "description": "Product Review Migration End Point"
        },
        {
            "name": "product-review-process-endpoint",
            "description": "Endpoint to manage review processes."
        },
        {
            "name": "product-review-publication-endpoint",
            "description": "Product Review Publication Endpoint"
        },
        {
            "name": "public-locale-controller",
            "description": "External endpoint for locale related."
        },
        {
            "name": "question-endpoint",
            "description": "Question Endpoint"
        },
        {
            "name": "questionnaire-endpoint",
            "description": "Endpoint to manage Questionnaire (Location Questions)"
        },
        {
            "name": "questionnaire-external-endpoint",
            "description": "Questionnaire External Endpoint"
        },
        {
            "name": "receipt-endpoint",
            "description": "Receipt Endpoint"
        },
        {
            "name": "review-endpoint",
            "description": "Review Endpoint"
        },
        {
            "name": "review-migration-end-point",
            "description": "Review Migration End Point"
        },
        {
            "name": "review-process-endpoint",
            "description": "Endpoint to manage review processes."
        },
        {
            "name": "review-publication-endpoint",
            "description": "Review Publication Endpoint"
        },
        {
            "name": "reviews-rest-endpoint",
            "description": "Reviews Controller"
        },
        {
            "name": "segmentation-endpoint",
            "description": "Endpoint to manage segment."
        },
        {
            "name": "settings-endpoint",
            "description": "Settings Endpoint"
        },
        {
            "name": "signup-controller",
            "description": "Signup Controller"
        },
        {
            "name": "so-connect-token-endpoint",
            "description": "So Connect Token Endpoint"
        },
        {
            "name": "statistics-endpoint",
            "description": "Endpoint to return statistics."
        },
        {
            "name": "statistics-maintenance-endpoint",
            "description": "Statistics Maintenance Endpoint"
        },
        {
            "name": "task-endpoint",
            "description": "Endpoint to manage tasks."
        },
        {
            "name": "tenant-configuration-endpoint",
            "description": "Endpoint to manage tenants configurations."
        },
        {
            "name": "tenant-endpoint",
            "description": "Tenant Endpoint"
        },
        {
            "name": "third-party-review-endpoint",
            "description": "Third Party Review Endpoint"
        },
        {
            "name": "token-endpoint",
            "description": "Token Endpoint"
        },
        {
            "name": "user-agreement-endpoint",
            "description": "User Agreement Endpoint"
        },
        {
            "name": "user-endpoint",
            "description": "User Endpoint"
        },
        {
            "name": "vulgar-words-endpoint",
            "description": "Endpoint to manage VulgarWord."
        },
        {
            "name": "white-list-email-address-endpoint",
            "description": "Endpoint to manage white list ip address."
        },
        {
            "name": "white-list-ip-address-endpoint",
            "description": "White List Ip Address Endpoint"
        },
        {
            "name": "widget-rest-endpoint",
            "description": "Widget Controller"
        }
    ],
    "paths": {
        "/oauth/token": {
            "get": {
                "tags": [
                    "token-endpoint"
                ],
                "summary": "getAccessToken",
                "operationId": "getAccessTokenUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "parameters",
                        "in": "query",
                        "description": "parameters",
                        "required": true,
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OAuth2AccessToken"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "token-endpoint"
                ],
                "summary": "postAccessToken",
                "operationId": "postAccessTokenUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "parameters",
                        "in": "query",
                        "description": "parameters",
                        "required": true,
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OAuth2AccessToken"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/public/common/locale": {
            "get": {
                "tags": [
                    "public-locale-controller"
                ],
                "summary": "Returns locale labels based on language parameter.",
                "operationId": "getLabelsUsingGET_1",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "LanguageCode of the locale",
                        "required": true,
                        "type": "string",
                        "allowEmptyValue": false,
                        "x-example": "en or nl, etc"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LocaleDto"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/retrieve-branded-group-widget-api": {
            "get": {
                "tags": [
                    "widget-rest-endpoint"
                ],
                "summary": "Rest API to expose objects used in the ftl: retrieve-branded-group-widget.html",
                "operationId": "retrieveWidgetRestUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "brandedGroupId",
                        "description": "The branded group id",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "lang",
                        "description": "The locale code to use",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "model",
                        "in": "query",
                        "description": "model",
                        "required": false,
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WidgetResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/retrieve-group-widget-api": {
            "get": {
                "tags": [
                    "widget-rest-endpoint"
                ],
                "summary": "Rest API to expose objects used in the ftl: retrieve-group-widget.html",
                "operationId": "retrieveGroupWidgetRestUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "allowTransparency",
                        "description": "The allowTransparency controls of it's transparent or not (true/false)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "lang",
                        "description": "The locale code to use",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "locationGroupId",
                        "description": "The location group id",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "model",
                        "in": "query",
                        "description": "model",
                        "required": false,
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WidgetResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/retrieve-widget-api": {
            "get": {
                "tags": [
                    "widget-rest-endpoint"
                ],
                "summary": "Rest API to expose objects used in the ftl: retrieve-widget.html",
                "operationId": "retrieveWidgetRestUsingGET_1",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "allowTransparency",
                        "description": "The allowTransparency controls of it's transparent or not (true/false)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "lang",
                        "description": "The locale code to use",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "locationId",
                        "description": "The location id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "model",
                        "in": "query",
                        "description": "model",
                        "required": false,
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    },
                    {
                        "in": "body",
                        "name": "tenantId",
                        "description": "The tenant id of the location",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "widget",
                        "description": "The widget string",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WidgetResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/retrieve-widget-library-api": {
            "get": {
                "tags": [
                    "widget-rest-endpoint"
                ],
                "summary": "Rest API to expose objects used in the ftl: retrieve-widget-library.html",
                "operationId": "retrieveWidgetLibraryRestUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "allowTransparency",
                        "description": "The allowTransparency controls of it's transparent or not (true/false)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "filterDateScoreOrder",
                        "description": "The filterSortingOption for the review",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "format",
                        "description": "The widget format to use (slider/sticky)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "lang",
                        "description": "The locale code to use",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "locationId",
                        "description": "The location id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "model",
                        "in": "query",
                        "description": "model",
                        "required": false,
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    },
                    {
                        "in": "body",
                        "name": "tenantId",
                        "description": "The tenant id of the location",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "widget",
                        "description": "The widget string",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WidgetResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/reviews-api/{uniqueLocationId}/{locationCanonicalName}": {
            "get": {
                "tags": [
                    "reviews-rest-endpoint"
                ],
                "summary": "reviewsApi",
                "operationId": "reviewsApiUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "filterDateScoreOrder",
                        "in": "query",
                        "description": "filterDateScoreOrder",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "filterLocale",
                        "in": "query",
                        "description": "filterLocale",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "filterQuestionOption",
                        "in": "query",
                        "description": "filterQuestionOption",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "filterRating",
                        "in": "query",
                        "description": "filterRating",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "from",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "lang",
                        "in": "query",
                        "description": "lang",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "locationCanonicalName",
                        "in": "path",
                        "description": "Canonical Name of Location",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "pageNumber",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "uniqueLocationId",
                        "in": "path",
                        "description": "Unique Location ID",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ReviewsViewModel"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/signup": {
            "get": {
                "tags": [
                    "signup-controller"
                ],
                "summary": "signupForm",
                "operationId": "signupFormUsingGET",
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "query",
                        "description": "model",
                        "required": false,
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/signup/confirmation": {
            "post": {
                "tags": [
                    "signup-controller"
                ],
                "summary": "signupConfirmation",
                "operationId": "signupConfirmationUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "*/*"
                ],
                "parameters": [
                    {
                        "name": "locationId",
                        "in": "query",
                        "description": "locationId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "model",
                        "in": "query",
                        "description": "model",
                        "required": false,
                        "items": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "object"
                            }
                        }
                    },
                    {
                        "name": "tenantId",
                        "in": "query",
                        "description": "tenantId",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "verificationId",
                        "in": "query",
                        "description": "verificationId",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/v1/agreement/document": {
            "get": {
                "tags": [
                    "user-agreement-endpoint"
                ],
                "summary": "Retrieve the User agreements documents",
                "operationId": "documentsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "documentTypes",
                        "description": "Filter on User id",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "TERMS_OF_USE",
                                    "GDPR_PROCESS"
                                ]
                            }
                        }
                    },
                    {
                        "in": "body",
                        "name": "documentVersion",
                        "description": "Filter by user name",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "in": "body",
                        "name": "limit",
                        "description": "The maximum amount of results returned (default 250)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "loadDocuments",
                        "description": "load all documents",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "localeId",
                        "description": "Filter documents on locale id",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "orderBy",
                        "description": "Specify the order field: NAME, ID.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DOCUMENT_TYPE",
                                "TENANT_ID"
                            ]
                        }
                    },
                    {
                        "in": "body",
                        "name": "sortOrder",
                        "description": "Specify the sort order:",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "in": "body",
                        "name": "start",
                        "description": "Initial page value (default 0)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "tenantId",
                        "description": "Filter on tenant id",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UserAgreementStatusDto"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "user-agreement-endpoint"
                ],
                "summary": "Create/update the user agreement document",
                "operationId": "createDocumentUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "userAgreementDocumentDto",
                        "description": "userAgreementDocumentDto json object",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/UserAgreementDocumentDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UserAgreementDocumentDto"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/v1/agreement/status": {
            "get": {
                "tags": [
                    "user-agreement-endpoint"
                ],
                "summary": "Retrieve the User agreements",
                "operationId": "userAgreementsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "documentTypes",
                        "description": "Filter documents on type",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "TERMS_OF_USE",
                                    "GDPR_PROCESS"
                                ]
                            }
                        }
                    },
                    {
                        "in": "body",
                        "name": "documentVersion",
                        "description": "Filter by document version",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "in": "body",
                        "name": "limit",
                        "description": "The maximum amount of results returned (default 250)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "locationId",
                        "description": "Filter documents on location id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "orderBy",
                        "description": "Specify the order field: NAME, ID.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DOCUMENT_TYPE",
                                "USER_ID"
                            ]
                        }
                    },
                    {
                        "in": "body",
                        "name": "sortOrder",
                        "description": "Specify the sort order:",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "in": "body",
                        "name": "start",
                        "description": "Initial page value (default 0)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "tenantId",
                        "description": "Filter on tenant id",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/UserAgreementStatusDto"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "user-agreement-endpoint"
                ],
                "summary": "create/update the User agreement status",
                "operationId": "createUserAgreementUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "userAgreementStatusDto",
                        "description": "userAgreementStatusDto",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/UserAgreementStatusDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UserAgreementStatusDto"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/v1/apiuser": {
            "get": {
                "tags": [
                    "api-user-endpoint"
                ],
                "summary": "Retrieve the api user ",
                "operationId": "apiUserUsingGET_1",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "active",
                        "description": "Filter on active state (boolean)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "key",
                        "description": "Filter by api key name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "like",
                        "description": "Filter strings using like (boolean)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "limit",
                        "description": "The maximum amount of results returned (default 250)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "orderBy",
                        "description": "Specify the order field: NAME, ID.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "NAME",
                                "ID"
                            ]
                        }
                    },
                    {
                        "in": "body",
                        "name": "sortOrder",
                        "description": "Specify the sort order:",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "in": "body",
                        "name": "start",
                        "description": "Initial page value (default 0)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "tenantId",
                        "description": "Filter on tenant id",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "userId",
                        "description": "Filter on User id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ApiUserDto"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "api-user-endpoint"
                ],
                "summary": "Create the api user",
                "operationId": "createUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "apiUserDto",
                        "description": "Api Key json object",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ApiUserDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiUserDto"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "api-user-endpoint"
                ],
                "summary": "Update the api user. (Name and Active fields can be updated)",
                "operationId": "updateUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "apiUserDto",
                        "description": "Api Key json object",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ApiUserDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiUserDto"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/v1/apiuser/generateKey": {
            "put": {
                "tags": [
                    "api-user-endpoint"
                ],
                "summary": "Generate api key",
                "operationId": "generateKeyUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "apiUserDto",
                        "description": "Api Key json object",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/ApiUserDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiUserDto"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/v1/apiuser/{filterId}": {
            "get": {
                "tags": [
                    "api-user-endpoint"
                ],
                "summary": "Retrieve the apiUser by api key",
                "operationId": "apiUserUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "filterId",
                        "in": "path",
                        "description": "filterId",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "tenantId",
                        "description": "Filter on tenant id",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ApiUserDto"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/v1/async": {
            "get": {
                "tags": [
                    "async-operation-endpoint"
                ],
                "summary": "Retrieve the async operation",
                "operationId": "getOperationUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "asyncOperationEnum",
                        "description": "Find by Async operation key",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "CREATE_LOCATION_GROUP",
                                "MODIFY_LOCATION_GROUP",
                                "CREATE_OR_UPDATE_GROUP_AND_CATEGORY_QUESTION",
                                "LOCATIONS_MIGRATION_CSV_IMPORT",
                                "EXPORT_LOCATIONS",
                                "FIX_CONTENT_MIGRATION_ERROR",
                                "FIX_CONTENT_MIGRATION_ERROR_BATCH",
                                "FORCE_SWITCH_OVER_LOCATION",
                                "CHECK_LOCATIONS",
                                "SWITCH_OVER_LOCATIONS",
                                "SWITCH_OVER_LOCATION_GROUP",
                                "LOCATION_GROUP_ASSIGNMENT",
                                "IMPORT_LOCATIONS",
                                "MIGRATION_ERROR_EXPORT",
                                "SWITCH_OVER_LOGS_EXPORT",
                                "DELETE_LOCATION_GROUP",
                                "DELETE_LOCATION",
                                "MIGRATED_REVIEW_UPLOAD",
                                "EXPORT_REVIEW",
                                "REFRESH_LOCATION_STATISTICS",
                                "REGENERATE_REVIEW_EVENTS",
                                "IMPORT_LOCATION_PRODUCT",
                                "IMPORT_LOCATION_PRODUCT_REVIEW",
                                "CREATE_LOCATION_PRODUCT",
                                "IMPORT_THIRD_PARTY_REVIEW_CSV",
                                "UPLOAD_REVIEW_MIGRATION_CSV",
                                "PRODUCT_EXPORT_REVIEW",
                                "UPLOAD_PRODUCT_REVIEW_CSV",
                                "EXPORT_INVITES"
                            ]
                        }
                    },
                    {
                        "in": "body",
                        "name": "id",
                        "description": "Find by Async operation id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "key",
                        "description": "Find by Async operation key",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "reviewType",
                        "description": "Filter on review type shop/product ",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "in": "body",
                        "name": "userIdAsKey",
                        "description": "Find by Async operation key",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AsyncOperationDto"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/v1/async/stop": {
            "put": {
                "tags": [
                    "async-operation-endpoint"
                ],
                "summary": "Stop async operation",
                "operationId": "stopUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "id",
                        "description": "Stop by Async operation id",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AsyncOperationDto"
                            }
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/v1/blacklist/domain": {
            "get": {
                "tags": [
                    "black-list-domain-endpoint"
                ],
                "summary": "Get all black list Domains",
                "operationId": "showBlackListIPAddressUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "domain",
                        "description": "Search domain start or match with given value.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "like",
                        "description": "Filter strings using like (boolean)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "limit",
                        "description": "The maximum amount of results returned (default 250)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "orderBy",
                        "description": "Specify the order field: ID/DOMAIN",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ID",
                                "CREATE_DATE",
                                "IP_ADDRESS",
                                "EMAIL",
                                "DOMAIN"
                            ]
                        }
                    },
                    {
                        "in": "body",
                        "name": "sortOrder",
                        "description": "Specify the sort order:",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "in": "body",
                        "name": "start",
                        "description": "Initial page value (default 0)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "tenantId",
                        "description": "Filter on tenantId",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WhiteBlackListDto"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "black-list-domain-endpoint"
                ],
                "summary": "Create a blacklist domain",
                "operationId": "createUsingPOST_1",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "whiteBlackListDto",
                        "description": "Black list domain json object",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/WhiteBlackListDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WhiteBlackListDto"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "black-list-domain-endpoint"
                ],
                "summary": "Delete a blacklist Domain",
                "operationId": "deleteUsingDELETE",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "id",
                        "description": "Black list domain unique id",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WhiteBlackListDto"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        },
        "/v1/blacklist/email": {
            "get": {
                "tags": [
                    "black-list-email-address-endpoint"
                ],
                "summary": "Get all black list email addresses",
                "operationId": "showBlackListIPAddressUsingGET_1",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "email",
                        "description": "Search email address start or match with given value.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "like",
                        "description": "Filter strings using like (boolean)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "limit",
                        "description": "The maximum amount of results returned (default 250)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "orderBy",
                        "description": "Specify the order field: ID/email address",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ID",
                                "CREATE_DATE",
                                "IP_ADDRESS",
                                "EMAIL",
                                "DOMAIN"
                            ]
                        }
                    },
                    {
                        "in": "body",
                        "name": "sortOrder",
                        "description": "Specify the sort order:",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "in": "body",
                        "name": "start",
                        "description": "Initial page value (default 0)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "tenantId",
                        "description": "Filter on tenantId",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WhiteBlackListDto"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "black-list-email-address-endpoint"
                ],
                "summary": "Create a black list email address",
                "operationId": "createUsingPOST_2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "whiteBlackListDto",
                        "description": "Black list email address json object",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/WhiteBlackListDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WhiteBlackListDto"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "black-list-email-address-endpoint"
                ],
                "summary": "Delete a black list email address",
                "operationId": "deleteUsingDELETE_1",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "id",
                        "description": "Black list email address unique id",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WhiteBlackListDto"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        },
        "/v1/blacklist/ipaddress": {
            "get": {
                "tags": [
                    "black-list-ip-address-endpoint"
                ],
                "summary": "Get all black list IP addresses",
                "operationId": "showBlackListIPAddressUsingGET_2",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "ipAddress",
                        "description": "Search IP address start or match with given value.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "like",
                        "description": "Filter strings using like (boolean)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "limit",
                        "description": "The maximum amount of results returned (default 250)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "orderBy",
                        "description": "Specify the order field: ID.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ID",
                                "CREATE_DATE",
                                "IP_ADDRESS",
                                "EMAIL",
                                "DOMAIN"
                            ]
                        }
                    },
                    {
                        "in": "body",
                        "name": "sortOrder",
                        "description": "Specify the sort order:",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "in": "body",
                        "name": "start",
                        "description": "Initial page value (default 0)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "tenantId",
                        "description": "Filter on tenantId",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WhiteBlackListDto"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "black-list-ip-address-endpoint"
                ],
                "summary": "Create a black list IP address",
                "operationId": "createUsingPOST_3",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "whiteBlackListDto",
                        "description": "Black list ip address json object",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/WhiteBlackListDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WhiteBlackListDto"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "black-list-ip-address-endpoint"
                ],
                "summary": "Delete a black list IP address",
                "operationId": "deleteUsingDELETE_2",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "id",
                        "description": "Black list IP address unique id",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/WhiteBlackListDto"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "deprecated": false
            }
        },
        "/v1/branchcode": {
            "get": {
                "tags": [
                    "branch-code-endpoint"
                ],
                "summary": "Retrieve the branch codes",
                "operationId": "branchCodeDtosUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "id",
                        "description": "Filter on branch code",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "orderBy",
                        "description": "Specify the order field: BRANCH_CODE, TENANT_ID",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "BRANCH_CODE",
                                "TENANT_ID"
                            ]
                        }
                    },
                    {
                        "in": "body",
                        "name": "sortOrder",
                        "description": "Specify the sort order:",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DESC",
                                "ASC"
                            ]
                        }
                    },
                    {
                        "in": "body",
                        "name": "tenantId",
                        "description": "Filter on tenantId",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BranchCodeDto"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/v1/brandedGroup": {
            "get": {
                "tags": [
                    "branded-group-endpoint"
                ],
                "summary": "Retrieve the branded Groups",
                "operationId": "getBrandedGroupsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "id",
                        "description": "Filter on branded group id",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "name",
                        "description": "Filter on branded group name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "body",
                        "name": "tenantId",
                        "description": "Filter on tenant id",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/BrandedGroupDto"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "branded-group-endpoint"
                ],
                "summary": "Create the branded group",
                "operationId": "createBrandedGroupsUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "brandedGroupDto",
                        "description": "branded group json object",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/BrandedGroupDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BrandedGroupDto"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            },
            "put": {
                "tags": [
                    "branded-group-endpoint"
                ],
                "summary": "Update the branded group",
                "operationId": "updateBrandedGroupsUsingPUT",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "brandedGroupDto",
                        "description": "Branded group json object",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/BrandedGroupDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BrandedGroupDto"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "deprecated": false
            }
        },
        "/v1/brandedGroup/configuration": {
            "get": {
                "tags": [
                    "branded-group-endpoint"
                ],
                "summary": "Retrieve the Branded group configuration",
                "operationId": "getBrandedGroupConfigurationsUsingGET",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "brandedGroupId",
                        "description": "Filter on branded group id",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "id",
                        "description": "Filter on configuration id",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "in": "body",
                        "name": "key",
                        "description": "Filter on keys (array), eg. ?key=INVITATION_MAIL_HEADER,INVITATION_MAIL_BODY",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "INVITATION_MAIL_HEADER",
                                    "INVITATION_MAIL_BODY",
                                    "ENRICHED_INVITATION_MAIL_HEADER",
                                    "ENRICHED_INVITATION_MAIL_BODY",
                                    "PRODUCT_INVITATION_MAIL_HEADER",
                                    "PRODUCT_INVITATION_MAIL_BODY",
                                    "INVITATION_REMINDER_MAIL_HEADER",
                                    "INVITATION_REMINDER_MAIL_BODY",
                                    "ENRICHED_INVITATION_REMINDER_MAIL_HEADER",
                                    "ENRICHED_INVITATION_REMINDER_MAIL_BODY",
                                    "PRODUCT_INVITATION_REMINDER_MAIL_HEADER",
                                    "PRODUCT_INVITATION_REMINDER_MAIL_BODY",
                                    "CONFIRM_REVIEW_MAIL_HEADER",
                                    "CONFIRM_REVIEW_MAIL_BODY",
                                    "NOTIFICATION_MAIL_HEADER",
                                    "NOTIFICATION_MAIL_BODY",
                                    "NOTIFICATION_LOW_REVIEW_MAIL_HEADER",
                                    "NOTIFICATION_LOW_REVIEW_MAIL_BODY",
                                    "PRODUCT_NOTIFICATION_MAIL_HEADER",
                                    "PRODUCT_NOTIFICATION_MAIL_BODY",
                                    "PRODUCT_NOTIFICATION_LOW_REVIEW_MAIL_HEADER",
                                    "PRODUCT_NOTIFICATION_LOW_REVIEW_MAIL_BODY",
                                    "REVIEW_RESPONSE_NOTIFICATION_MAIL_HEADER",
                                    "REVIEW_RESPONSE_NOTIFICATION_MAIL_BODY",
                                    "EMAIL_VERIFICATION_MAIL_HEADER",
                                    "EMAIL_VERIFICATION_MAIL_BODY",
                                    "REPORT_ABUSE_MAIL_HEADER",
                                    "REPORT_ABUSE_MAIL_BODY",
                                    "REVIEW_IN_QUARANTINE_MAIL_BODY",
                                    "REVIEW_IN_QUARANTINE_MAIL_HEADER",
                                    "CHANGE_REVIEW_REQUEST_MAIL_HEADER",
                                    "CHANGE_REVIEW_REQUEST_MAIL_BODY",
                                    "CHANGE_PRODUCT_REVIEW_REQUEST_MAIL_HEADER",
                                    "CHANGE_PRODUCT_REVIEW_REQUEST_MAIL_BODY",
                                    "REVIEW_CHANGE_NOTIFICATION_MAIL_HEADER",
                                    "PRODUCT_REVIEW_CHANGE_NOTIFICATION_MAIL_HEADER",
                                    "REVIEW_CHANGE_NOTIFICATION_MAIL_BODY",
                                    "PRODUCT_REVIEW_CHANGE_NOTIFICATION_MAIL_BODY",
                                    "TRIAL_ACCOUNT_VERIFICATION_MAIL_HEADER",
                                    "TRIAL_ACCOUNT_VERIFICATION_MAIL_BODY",
                                    "TRIAL_ACCOUNT_WELCOME_MAIL_HEADER",
                                    "TRIAL_ACCOUNT_WELCOME_MAIL_BODY",
                                    "ACTIVITY_REPORT_NOTIFICATION_MAIL_HEADER",
                                    "ACTIVITY_REPORT_NOTIFICATION_MAIL_BODY",
                                    "FORGOT_AND_RESET_PASSWORD_MAIL_HEADER",
                                    "FORGOT_AND_RESET_PASSWORD_MAIL_BODY",
                                    "USER_ACTIVATION_MAIL_BODY",
                                    "USER_ACTIVATION_MAIL_HEADER",
                                    "NOTIFICATION_REVIEW_LIMIT",
[...]
